<template>
  <div id="APIsTest">
    <v-chip-group mandatory>
      <div class="mr-5 mt-2">Tested Models:</div>
      <v-chip
        v-for="model in models"
        :key="model"
        filter
        label
        @click="selectedModel = model"
      >
        {{ model }}
      </v-chip>
    </v-chip-group>
    <FaceApi v-if="selectedModel === 'Face-api'"></FaceApi>
    <Blazeface
      class="mt-5"
      v-else-if="selectedModel === 'Blazeface'"
    ></Blazeface>
  </div>
</template>
<script>
import Blazeface from "./APIsTest/Blazeface";
import FaceApi from "./APIsTest/FaceApi";

export default {
  name: "APIsTest",
  components: {
    FaceApi,
    Blazeface
  },
  data() {
    return {
      models: ["Face-api", "Blazeface"],
      selectedModel: "Face-api"
    };
  },
  watch: {
    selectedModel(value) {
      console.log(value);
    }
  }
};
</script>
