<template>
  <div id="databaseView">
    <div class="mb-2">
      <v-dialog v-model="dialog" class="test" width="500">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            elevation="2"
            outlined
            v-bind="attrs"
            v-on="on"
            style="background-color:white;"
            class="mr-5"
            ><v-icon small class="mr-2">mdi-plus</v-icon>ADD PERSON</v-btn
          >
        </template>

        <v-card>
          <v-card-title>
            Add a new Person
          </v-card-title>

          <v-card-text>
            <v-form ref="form" v-model="isValid">
              <v-text-field
                autofocus
                v-model="person.name"
                :rules="[v => !!v || 'Name is required']"
                label="Name*"
                required
              ></v-text-field>
            </v-form>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey" text @click="dialog = false">
              Cancel
            </v-btn>
            <v-btn
              color="primary"
              text
              @click="onAddPerson"
              :disabled="!isValid"
            >
              Add
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn
        color="green"
        elevation="2"
        outlined
        :loading="trainingIsLoading"
        :disabled="trainingIsLoading || persons.length == 0"
        style="background-color:white;"
        @click="dialogModelOptions = true"
        ><v-icon small class="mr-2">mdi-file-refresh</v-icon>TRAIN MODEL</v-btn
      >
    </div>
    <div class="d-flex">
      <PersonDataTable
        @edit="editPerson"
        @delete="deletePerson"
        :persons="persons"
      />
    </div>
    <v-dialog v-model="dialogModelOptions" width="500">
      <v-card>
        <v-card-title>
          Which model would you like to train ?
        </v-card-title>

        <v-card-text>
          <span class="subtitle-1">
            <!--  Which model would you like to train ? -->
          </span>
          <v-checkbox
            v-model="optionsImage"
            :label="`Facial recognition`"
          ></v-checkbox>
          <v-checkbox
            v-model="optionsAudio"
            :label="`Speaker recognition`"
          ></v-checkbox>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn @click="dialogModelOptions = false">
            Cancel
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            :disabled="optionsAudio == false && optionsImage == false"
            @click="onTrainModel"
          >
            Train
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-model="snackbar"
      :timeout="3000"
      absolute
      bottom
      color="success"
      right
    >
      Your models was trained successfully !
    </v-snackbar>
  </div>
</template>

<style scoped>
.v-dialog__content {
  align-items: baseline !important;
  top: 10% !important;
}
</style>
<script>
import PersonDataTable from "@/components/PersonDataTable";
import PersonDataServices from "../services/PersonDataServices";
import TrainModelsServices from "../services/TrainModelsServices";

export default {
  name: "Database",
  components: { PersonDataTable },
  data: () => ({
    isValid: true,
    person: {
      id: null,
      name: ""
    },
    persons: [],
    optionsImage: true,
    optionsAudio: true,
    dialog: false,
    trainingIsLoading: false,
    snackbar: false,
    dialogModelOptions: false
  }),
  methods: {
    editPerson(id) {
      this.$router.push({ name: "Person", params: { id: id } });
    },
    deletePerson(id) {
      PersonDataServices.delete(id)
        .then(() => {
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },
    getDisplayPerson(person) {
      return {
        id: person.id,
        name: person.name,
        audios: person.audios,
        audios_length: person.audios.length,
        images: person.images,
        images_length: person.images.length,
        createdAt: person.createdAt,
        updatedAt: person.updatedAt
      };
    },
    retrievePersons() {
      PersonDataServices.getAll()
        .then(response => {
          this.persons = response.data.map(this.getDisplayPerson);
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrievePersons();
    },
    onAddPerson() {
      let tmpName = this.person.name;
      if (tmpName !== null && tmpName !== undefined && tmpName !== "") {
        var data = {
          name: tmpName
        };

        PersonDataServices.create(data)
          .then(response => {
            this.person.id = response.data.id;
            this.$router.push({
              name: "Person",
              params: { id: this.person.id }
            });
          })
          .catch(e => {
            console.log(e);
          });
      }
    },
    onTrainModel() {
      this.dialogModelOptions = false;
      this.trainingIsLoading = true;
      // Train images and audio clips models with database
      let data = {
        persons: this.persons,
        options: {
          image: this.optionsImage,
          audio: this.optionsAudio
        }
      };
      TrainModelsServices.trainModels(data)
        .then(() => {
          // if we need to restart facial recogn. server
          if (this.optionsImage) {
            let wsImage = new WebSocket("ws://127.0.0.1:5000");
            wsImage.onopen = function(event) {
              console.log(event);
              console.log(
                "Successfully connected to the echo websocket server..."
              );
              // Send message restart server so that server will reload model and encodings
              wsImage.send("restart server");
            };
          }
          // if we need to restart speker recogn. server
          if (this.optionsAudio) {
            let wsAudio = new WebSocket("ws://127.0.0.1:5001");
            wsAudio.onopen = function(event) {
              console.log(event);
              console.log(
                "Successfully connected to the echo websocket server..."
              );
              // Send message restart server so that server will reload model and encodings
              wsAudio.send("restart server");
            };
          }
          this.trainingIsLoading = false;
          this.snackbar = true;
        })
        .catch(err => {
          console.log(err);
          this.trainingIsLoading = false;
        });
    }
  },
  mounted() {
    this.retrievePersons();
  }
};
</script>

<style></style>
