<template>
  <div id="personView">
    <div class="mb-2">
      <v-dialog v-model="dialog" class="test" width="500">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            elevation="2"
            outlined
            v-bind="attrs"
            v-on="on"
            style="background-color:white;"
            class="mr-5"
            ><v-icon small class="mr-2">mdi-image-plus</v-icon>UPLOAD IMAGES
          </v-btn>
        </template>

        <v-card>
          <template v-if="imageSubmitIsLoading">
            <div class="text-center">
              <v-progress-circular
                indeterminate
                color="primary"
                style="height: 180px;"
                class="fill-height"
              ></v-progress-circular>
            </div>
          </template>
          <template v-else>
            <v-card-title>
              Upload images
            </v-card-title>

            <v-card-text>
              <v-form
                ref="formImages"
                id="uploadImagesForm"
                method="post"
                @submit.prevent="onSubmitImages"
                enctype="multipart/form-data"
              >
                <v-file-input
                  ref="inputImages"
                  name="images-multi-files"
                  accept="image/*"
                  placeholder="Pick image files"
                  prepend-icon="mdi-image-plus"
                  multiple
                  label="Images"
                  v-model="imageForm"
                ></v-file-input>
              </v-form>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="grey" text @click="dialog = false">
                Cancel
              </v-btn>
              <v-btn color="primary" type="submit" text form="uploadImagesForm">
                Add
              </v-btn>
            </v-card-actions>
          </template>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialog2" class="test" width="500">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            elevation="2"
            outlined
            v-bind="attrs"
            v-on="on"
            style="background-color:white;"
            class="mr-5"
            ><v-icon small class="mr-2">mdi-access-point-plus</v-icon>UPLOAD
            AUDIO CLIPS
          </v-btn>
        </template>

        <v-card min-width="500px" min-height="200px">
          <template v-if="audioSubmitIsLoading">
            <div class="text-center">
              <v-progress-circular
                indeterminate
                color="primary"
                style="height: 180px;"
                class="fill-height"
              ></v-progress-circular>
            </div>
          </template>
          <template v-else>
            <div>
              <v-card-title>
                Upload audio clips
              </v-card-title>

              <v-card-text>
                <v-form
                  ref="formAudios"
                  id="uploadAudiosForm"
                  method="post"
                  @submit.prevent="onSubmitAudios"
                  enctype="multipart/form-data"
                >
                  <v-file-input
                    ref="inputAudios"
                    name="audios-multi-files"
                    accept="audio/*"
                    placeholder="Pick audio clips"
                    prepend-icon="mdi-access-point-plus"
                    multiple
                    label="Audio clips"
                    v-model="audioForm"
                  ></v-file-input>
                </v-form>
              </v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="grey" text @click="dialog2 = false">
                  Cancel
                </v-btn>
                <v-btn
                  color="primary"
                  type="submit"
                  text
                  form="uploadAudiosForm"
                >
                  Add
                </v-btn>
              </v-card-actions>
            </div>
          </template>
        </v-card>
      </v-dialog>
    </div>
    <div class="pt-10 pb-2">
      <h3>
        {{ currentPerson !== null ? currentPerson.name : "" }}
      </h3>
    </div>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Images ({{
            currentPerson !== null ? currentPerson.images.length : ""
          }})
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div>
            <v-row>
              <v-col
                v-for="(image, index) in images"
                :key="index"
                class="d-flex child-flex"
                cols="4"
              >
                <v-hover v-slot="{ hover }">
                  <v-card
                    class="imageCard"
                    :elevation="hover ? 12 : 2"
                    :class="{ 'on-hover': hover }"
                  >
                    <v-img
                      :src="image.image.src"
                      aspect-ratio="1"
                      class="grey lighten-2"
                    >
                      <template v-slot:placeholder>
                        <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                        >
                          <v-progress-circular
                            indeterminate
                            color="grey lighten-5"
                          ></v-progress-circular>
                        </v-row>
                      </template>
                      <v-card-actions
                        v-if="hover"
                        style="height: 100%;"
                        class="justify-center"
                      >
                        <v-btn
                          fab
                          medium
                          color="white"
                          @click="deleteFile(image.idFile, 'image')"
                          ><v-icon color="red">mdi-delete</v-icon></v-btn
                        >
                      </v-card-actions>
                    </v-img>
                  </v-card>
                </v-hover>
              </v-col>
            </v-row>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Audios clips ({{
            currentPerson !== null ? currentPerson.audios.length : ""
          }})
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div>
            <v-row>
              <v-col
                v-for="(audio, index) in audios"
                :key="index"
                class="d-flex child-flex"
                cols="6"
              >
                <audio id="sound" :src="audio.audio.src" controls></audio>
                <v-btn
                  icon
                  color="red"
                  class="mt-2 ml-2"
                  @click="deleteFile(audio.idFile, 'audio')"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          Statistics
        </v-expansion-panel-header>
        <v-expansion-panel-content> </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<style scoped>
.test {
  background: white;
  height: 100%;
  border-radius: 10px;
  padding: 30px;
}

.imageCard {
  transition: opacity 0.4s ease-in-out;
}

.imageCard.on-hover {
  opacity: 0.75;
}

.show-btns {
  color: rgba(255, 255, 255, 1) !important;
}
</style>

<script>
import PersonDataServices from "../services/PersonDataServices";
import UploadDataServices from "../services/UploadDataServices";

export default {
  name: "Person",
  data() {
    return {
      currentPerson: null,
      isValid: true,
      dialog: false,
      dialog2: false,
      files: "",
      images: [],
      imageForm: [],
      imageSubmitIsLoading: false,
      audios: [],
      audioForm: [],
      audioSubmitIsLoading: false
    };
  },
  methods: {
    deleteFile(idFile, type) {
      let query;
      if (type === "audio") {
        query = {
          $pull: {
            audios: idFile
          }
        };
        this.currentPerson.audios.splice(
          this.currentPerson.audios.indexOf(idFile),
          1
        );
        this.audios.splice(
          this.audios.findIndex(e => e.idFile === idFile),
          1
        );
      } else if (type === "image") {
        query = {
          $pull: {
            images: idFile
          }
        };
        this.currentPerson.images.splice(
          this.currentPerson.images.indexOf(idFile),
          1
        );
        this.images.splice(
          this.images.findIndex(e => e.idFile === idFile),
          1
        );
      }
      PersonDataServices.update(this.currentPerson.id, query);
    },
    getPerson(id) {
      PersonDataServices.get(id)
        .then(response => {
          this.currentPerson = response.data;
          if (response.data.images.length > 0) {
            let dataImages = {
              type: "image",
              filesId: response.data.images
            };
            this.getFiles(dataImages);
          }
          if (response.data.audios.length > 0) {
            let dataAudios = {
              type: "audio",
              filesId: response.data.audios
            };
            this.getFiles(dataAudios);
          }
        })
        .catch(e => {
          console.log(e);
        });
    },
    onSubmitImages() {
      this.imageSubmitIsLoading = true;
      let uploadForm = document.getElementById("uploadImagesForm");
      let formData = new FormData(uploadForm);
      UploadDataServices.uploadImages(formData)
        .then(response => {
          let data = {
            filesId: [],
            type: "image"
          };
          response.data.forEach(async image => {
            let imageId = image.id;
            data.filesId.push(imageId);
            let personImages = {
              $push: {
                images: imageId
              }
            };
            PersonDataServices.update(this.currentPerson.id, personImages);
            this.currentPerson.images.push(imageId);
          });
          this.getFiles(data);
          this.imageForm = [];
        })
        .catch(e => {
          console.log(e);
        })
        .finally(() => (this.imageSubmitIsLoading = false));
    },
    onSubmitAudios() {
      this.audioSubmitIsLoading = true;
      let uploadForm = document.getElementById("uploadAudiosForm");
      let formData = new FormData(uploadForm);
      UploadDataServices.uploadAudios(formData)
        .then(response => {
          let data = {
            filesId: [],
            type: "audio"
          };
          response.data.forEach(audio => {
            let audioId = audio.id;
            data.filesId.push(audioId);
            let personAudios = {
              $push: {
                audios: audioId
              }
            };
            PersonDataServices.update(this.currentPerson.id, personAudios);
            this.currentPerson.audios.push(audioId);
          });
          this.getFiles(data);
          this.audioForm = [];
        })
        .catch(e => {
          console.log(e);
        })
        .finally(() => (this.audioSubmitIsLoading = false));
    },
    /**
     * fileIds: {
     *  filesId: [
     *    fileId1,
     *    filesId2,
     *    ...
     *  ]
     *  }
     */
    getFiles(data) {
      UploadDataServices.getFiles(data)
        .then(response => {
          if (data.type === "image") {
            response.data.forEach(img => {
              var image = new Image();
              image.src = img.url;
              this.images.push({ image, idFile: img.idFile });
            });
          } else if (data.type === "audio") {
            response.data.forEach(a => {
              var audio = new Audio();
              audio.src = a.url;
              this.audios.push({ audio, idFile: a.idFile });
            });
          }
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.getPerson(this.$route.params.id);
  }
};
</script>
