<template>
  <div id="soundView">
    <div class="mb-2 d-flex" style="align-items: center;">
      <v-btn
        color="primary"
        elevation="2"
        outlined
        style="background-color:white; "
        class="mr-5"
        @click="onStart"
        ><v-icon small class="mr-2">mdi-play</v-icon>START</v-btn
      >

      <v-btn
        color="error"
        elevation="2"
        outlined
        style="background-color:white;"
        class="mr-5"
        @click="onStop"
        ><v-icon small class="mr-2">mdi-stop</v-icon>STOP</v-btn
      >

      <div>
        <v-file-input
          accept="audio/*"
          placeholder="Pick an audio file"
          prepend-icon="mdi-surround-sound"
          label="Audio"
          @change="inputOnChange"
          @click:clear="items = []"
        ></v-file-input>
      </div>
    </div>
    <div>
      <v-icon class="mr-3">mdi-surround-sound</v-icon>
      <span class="font-weight-medium">{{ audioPeoples.join(" - ") }}</span>
    </div>
    <div class="d-flex justify-space-between">
      <audio id="sound" :src="audioSrc" controls></audio>
      <div style="display: flex; height: fit-content;">
        <DataTable :headers="headers" :items="items" />
        <v-btn class="ml-2" icon @click="items = []"
          ><v-icon>mdi-refresh</v-icon></v-btn
        >
      </div>
    </div>
  </div>
</template>

<style scoped>
audio:focus {
  outline-width: 0;
}
audio::-webkit-media-controls-play-button {
  display: none !important;
}
</style>

<script>
import DataTable from "@/components/DataTable";
import Recorder from "@/services/recorder.js";

export default {
  name: "Sound",
  components: { DataTable },
  data() {
    return {
      audioSrc: "",
      connection: null,
      file: null,
      audio_context: null,
      recorder: null,
      headers: [
        {
          text: "Detected persons",
          align: "start",
          sortable: false,
          value: "person"
        },
        { text: "Talk duration (seconds)", value: "talk" }
      ],
      items: [],
      audioPeoples: []
    };
  },
  created: async function() {
    console.log("Starting connection to WebSocket Server");
    this.connection = new WebSocket("ws://127.0.0.1:5001");

    // Set AudioContext
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    let self = this;
    // Event on message received from the server
    this.connection.onmessage = function(event) {
      console.log("Response from server :");
      console.log(event.data);
      /*
        {"speaker": "unknown", "score": 0}
      */
      let speaker_recognition_limit = 0.85;
      let data;
      try {
        data = JSON.parse(event.data);
      } catch (err) {
        console.log(err);
      }
      self.audioPeoples = [data.speaker];
      if (data.score > speaker_recognition_limit) {
        self.addPeoples([data.speaker], "audio");
      }
    };

    this.connection.onopen = function(event) {
      console.log(event);
      console.log("Successfully connected to the Websocket server");
    };
    this.connection.onclose = function(event) {
      console.log(event);
      console.log("Connection with websocket closed");
    };
  },
  methods: {
    // Sending request to server (audio file for prediction)
    sendMessage: function(audio) {
      if (this.connection.readyState == WebSocket.OPEN) {
        this.connection.send(audio);
      } else {
        console.log(
          "Cannot send message because websocket connection is not opened"
        );
      }
    },
    // Event when an audio file has been uploaded
    inputOnChange(file) {
      if (file != null) {
        this.audioSrc = URL.createObjectURL(file);
        this.file = file;
      } else {
        this.audioSrc = "";
        this.file = null;
      }
    },
    // Button Start onClick: play audio; at the same time split it into 1s chunks
    // Send each chunks to server to predict speaker
    onStart() {
      this.items = [];
      if (!this.audio_context) {
        this.audio_context = new AudioContext({ sampleRate: 16000 });
      }
      var self = this;
      if (this.file != null) {
        var audio = document.getElementById("sound");
        audio.play().then(() => {
          // source: https://ourcodeworld.com/articles/read/499/how-to-record-and-export-audio-wav-and-mp3-using-recorder-js-in-html5
          const stream = audio.captureStream();
          var input = this.audio_context.createMediaStreamSource(stream);

          // Initialize the Recorder Library
          this.recorder = new Recorder(input);

          // Start recording from the audio file every 1s or so
          this.recorder && this.recorder.record();
          var speaker_detection = setInterval(function() {
            if (audio.paused) {
              clearInterval(speaker_detection);
            } else {
              // Stop recording
              self.recorder && self.recorder.stop();
              // Export recording to wav
              self.recorder &&
                self.recorder.exportWAV(function(blob) {
                  // Convert audio file to base64
                  var fileBase64 = "";
                  var reader = new FileReader();
                  reader.readAsDataURL(blob);
                  reader.onloadend = function() {
                    var base64String = reader.result;
                    fileBase64 = base64String.split(",")[1];
                    // Send base64 audio chunk to server for prediction
                    self.sendMessage(fileBase64);
                  };

                  // Clear the Recorder and start again
                  self.recorder.clear();
                  self.recorder && self.recorder.record();
                }, "audio/wav");
            }
          }, 1000);
        });
      }
    },
    onPause() {},
    // Event when user click on Stop button: stops audio player and reset it to the beginning
    onStop() {
      if (this.file != null) {
        var audio = document.getElementById("sound");
        audio.pause();
        audio.currentTime = 0;
      }
    },
    //------------------------------
    // Display face prediction results
    //------------------------------
    addPeoples(peoplesName) {
      /* 
        mode can be defined as "image" or "audio"
      */
      peoplesName.forEach(peopleName => {
        let item = this.items.find(i => i.person === peopleName);
        if (item) {
          item.talk = item.talk + 1;
        } else {
          this.items.push({
            person: peopleName,
            talk: 1
          });
        }
      });
    }
  }
};
</script>

<style></style>
