<template>
  <div id="videoView">
    <div class="mb-2 d-flex" style="align-items: center;">
      <v-btn
        :disabled="playing"
        color="primary"
        elevation="2"
        outlined
        style="background-color:white;"
        class="mr-5"
        @click="onStart"
        ><v-icon small class="mr-2">mdi-play</v-icon>START</v-btn
      >

      <v-btn
        :disabled="!playing"
        color="error"
        elevation="2"
        outlined
        style="background-color:white;"
        class="mr-5"
        @click="onStop"
        ><v-icon small class="mr-2">mdi-stop</v-icon>STOP</v-btn
      >

      <div>
        <v-file-input
          ref="input"
          accept="video/*"
          placeholder="Pick a video file"
          prepend-icon="mdi-video"
          label="Video"
          @change="inputOnChange"
          @click:clear="clearInputFile"
        ></v-file-input>
      </div>
    </div>
    <div>
      <v-icon class="mr-3">mdi-video</v-icon>
      <span class="font-weight-medium">{{ facialPeoples.join(" - ") }}</span>
    </div>
    <div>
      <v-icon class="mr-3">mdi-surround-sound</v-icon>
      <span class="font-weight-medium">{{ audioPeoples.join(" - ") }}</span>
    </div>
    <div class="d-flex justify-space-between">
      <video
        id="videoId"
        class="mr-2"
        :src="videoSrc"
        style="border-radius: 10px;width: 550px; height: auto;"
        @canplay="updatePaused"
        @playing="updatePaused"
        @pause="updatePaused"
      ></video>
      <audio id="sound" :src="videoSrc" style="display: hidden;"></audio>
      <canvas
        id="canvas"
        ref="canvas"
        style="position:absolute; border-radius: 10px; height: auto;"
      ></canvas>
      <!-- </div> -->
      <div style="display: flex; height: fit-content;">
        <DataTable :headers="headers" :items="items" />
        <v-btn :disabled="playing" class="ml-2" icon @click="items = []"
          ><v-icon>mdi-refresh</v-icon></v-btn
        >
      </div>
    </div>
    <div>
      <v-switch v-model="identifySwitch" label="Identify people with squares">
      </v-switch>
    </div>
    <img ref="img" />
  </div>
</template>

<style scoped>
.video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
}
</style>

<script>
import DataTable from "@/components/DataTable";
import * as faceapi from "@vladmandic/face-api";
import Recorder from "@/services/recorder.js";

export default {
  name: "Video",
  components: { DataTable },
  data: () => ({
    // Video variables
    identifySwitch: false,
    videoSrc: "",
    videoElement: null,
    paused: true,
    recognizeId: null,
    drawFaceId: null,
    video_connection: null,
    height: 0,
    width: 0,
    canvas: null,
    facialPeoples: [],
    headers: [
      {
        text: "Detected persons",
        align: "start",
        sortable: false,
        value: "person"
      },
      { text: "Apparition duration (seconds)", value: "apparition" },
      { text: "Talk duration (seconds)", value: "talk" }
    ],
    items: [],
    // Audio variables
    audioPeoples: [],
    audio_connection: null,
    audio_context: null,
    recorder: null,
    audio_stream: null,
    speaker_detection: null
  }),
  created: async function() {
    const MODEL_URL = "/models";
    console.log(faceapi);
    await faceapi.loadSsdMobilenetv1Model(MODEL_URL);

    console.log("Starting connection to WebSocket Server");

    /* ************** */
    //Connection to face recognition websocket server
    /* ************** */
    this.video_connection = new WebSocket("ws://127.0.0.1:5000");
    let that = this;
    this.video_connection.onmessage = function(event) {
      console.log("Message received :");
      console.log(event.data);
      that.facialPeoples = event.data.split("/");
      that.addPeoples(that.facialPeoples, "image");
    };

    this.video_connection.onopen = function(event) {
      console.log(event);
      console.log(
        "Successfully connected to the facial recognition websocket server..."
      );
    };
    this.video_connection.onclose = function(event) {
      console.log(event);
      console.log("Connection with websocket closed");
    };

    /* ************* */
    // Connection to speaker recognition websocket server
    /* ************* */
    this.audio_connection = new WebSocket("ws://127.0.0.1:5001");

    // Set AudioContext
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    navigator.getUserMedia =
      navigator.getUserMedia || navigator.webkitGetUserMedia;
    window.URL = window.URL || window.webkitURL;

    // Event on message received from the server
    this.audio_connection.onmessage = function(event) {
      console.log("[AUDIO] Response from server :");
      console.log(event.data);
      /*
        {"speaker": "unknown", "score": 0}
      */
      let speaker_recognition_limit = 0.85;
      let data;
      try {
        data = JSON.parse(event.data);
      } catch (err) {
        console.log(err);
      }
      that.audioPeoples = [data.speaker];
      if (data.score > speaker_recognition_limit) {
        that.addPeoples([data.speaker], "audio");
      }
    };

    this.audio_connection.onopen = function(event) {
      console.log(event);
      console.log(
        "[AUDIO] Successfully connected to the Speaker recognition Websocket server"
      );
    };
    this.audio_connection.onclose = function(event) {
      console.log(event);
      console.log(
        "[AUDIO] Connection with Speaker recognition websocket closed"
      );
    };
  },
  beforeDestroy() {
    this.onStop();
  },
  methods: {
    //------------------------------
    // Buttons start and stop events
    //------------------------------
    onStart() {
      // Reset people and speaker history
      this.items = [];
      if (this.videoElement) {
        this.videoElement.play();
        this.startVideoRecognition();
        this.startAudioRecognition();
      }
      if (this.identifySwitch) this.startDrawFaces();
    },
    onStop() {
      // Reset video player
      this.videoElement.pause();
      this.videoElement.currentTime = 0;
      setTimeout(() => {
        this.clearCanvas();
      }, 250);
      clearInterval(this.recognizeId);
      clearInterval(this.drawFaceId);

      // Reset audio player
      var audio = document.getElementById("sound");
      audio.pause();
      audio.currentTime = 0;
    },
    //------------------------------
    // Audio recognition functions
    //------------------------------
    startAudioRecognition() {
      if (!this.audio_context) {
        this.audio_context = new AudioContext({ sampleRate: 16000 });
      }
      var self = this;
      var audio = document.getElementById("sound");
      this.videoElement.muted = true;

      audio.play().then(() => {
        // source: https://ourcodeworld.com/articles/read/499/how-to-record-and-export-audio-wav-and-mp3-using-recorder-js-in-html5
        const stream = audio.captureStream();
        var input = this.audio_context.createMediaStreamSource(stream);

        // Initialize the Recorder Library
        this.recorder = new Recorder(input);

        // Start recording from the audio file every 1s or so
        this.recorder && this.recorder.record();
        var speaker_detection = setInterval(function() {
          if (audio.paused) {
            clearInterval(speaker_detection);
          } else {
            // Stop recording
            self.recorder && self.recorder.stop();
            // Export recording to wav
            self.recorder &&
              self.recorder.exportWAV(function(blob) {
                // Convert audio file to base64
                var fileBase64 = "";
                var reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = function() {
                  var base64String = reader.result;
                  fileBase64 = base64String.split(",")[1];
                  // Send base64 audio chunk to server for prediction
                  self.sendAudioMessage(fileBase64);
                };

                // Clear the Recorder and start again
                self.recorder.clear();
                self.recorder && self.recorder.record();
              }, "audio/wav");
          }
        }, 1000);
      });
    },
    sendAudioMessage: function(audio) {
      if (this.audio_connection.readyState == WebSocket.OPEN) {
        this.audio_connection.send(audio);
      } else {
        console.log(
          "[Audio] Cannot send message because websocket connection is not opened"
        );
      }
    },
    //------------------------------
    // Face recognition functions
    //------------------------------
    startVideoRecognition() {
      // repeat with the interval of 2 seconds
      this.recognizeId = setInterval(() => {
        this.recognize();
      }, 1000);
    },
    sendVideoMessage: function() {
      if (this.video_connection.readyState == WebSocket.OPEN) {
        let msg = this.getBase64ImageFromVideo(this.videoElement);
        this.video_connection.send(msg);
      } else {
        console.log(
          "[VIDEO] Cannot send message because websocket connection is not open"
        );
      }
    },
    inputOnChange(file) {
      if (file != null) this.videoSrc = URL.createObjectURL(file);
      else this.videoSrc = "";
    },
    updatePaused(event) {
      this.canvas = this.$refs.canvas;
      this.height = event.srcElement.clientHeight;
      this.width = event.srcElement.clientWidth;
      this.videoElement = event.target;
      this.paused = event.target.paused;
      this.canvas.height = this.height;
      this.canvas.width = this.width;
    },
    onPickVideoFile() {
      console.log(this.$refs.input);
      this.$refs.input.$refs.input.click;
    },
    clearInputFile() {
      setTimeout(() => {
        this.clearCanvas();
      }, 250);
      clearInterval(this.recognizeId);
      clearInterval(this.drawFaceId);
      this.recognizeId = null;
      this.drawFaceId = null;
      this.items = [];
    },
    getBase64Image(img) {
      var canvas = document.createElement("canvas");
      canvas.width = img.width;
      canvas.height = img.height;
      var ctx = canvas.getContext("2d");
      ctx.drawImage(img, 0, 0);
      var dataURL = canvas.toDataURL("image/png", 0.6);
      return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
    },
    getBase64ImageFromVideo(video) {
      var canvas = document.createElement("canvas");
      var context = canvas.getContext("2d");
      canvas.width = this.width;
      canvas.height = this.height;
      context.drawImage(video, 0, 0, this.width, this.height);
      var data = canvas.toDataURL("image/jpg", 0.6);
      //this.$refs.img.src = data;
      return data.replace(/^data:image\/(png|jpg);base64,/, "");
    },
    //------------------------------
    // Display face prediction results
    //------------------------------
    addPeoples(peoplesName, mode = "image") {
      /* 
        mode can be defined as "image" or "audio"
      */
      peoplesName.forEach(peopleName => {
        let item = this.items.find(i => i.person === peopleName);
        if (item) {
          if (mode == "image") item.apparition = item.apparition + 1;
          else item.talk = item.talk + 1;
        } else {
          this.items.push({
            person: peopleName,
            apparition: mode == "image" ? 1 : 0,
            talk: mode == "image" ? 0 : 1
          });
        }
      });
    },
    async drawFaceBox() {
      if (this.identifySwitch && this.playing) {
        const displaySize = { width: this.width, height: this.height };
        const detections = await faceapi.detectAllFaces(this.videoElement);
        /* Display detected face bounding boxes */
        // resize the detected boxes in case your displayed image has a different size than the original
        const resizedDetections = faceapi.resizeResults(
          detections,
          displaySize
        );
        this.clearCanvas();

        // draw detections into the canvas
        resizedDetections.forEach(face => {
          let box = face._box;
          let ctx = this.canvas.getContext("2d");
          ctx.strokeStyle = "rgba(0, 0, 255, 1)";
          ctx.lineWidth = 2;
          ctx.strokeRect(box.x, box.y, box.width, box.height);
        });
      }
    },
    clearCanvas() {
      var context = this.canvas.getContext("2d");
      context.clearRect(0, 0, this.width, this.height);
    },
    startDrawFaces() {
      if (this.drawFaceId == null)
        this.drawFaceId = setInterval(() => {
          this.drawFaceBox();
        }, 500);
    },
    recognize() {
      if (this.playing) {
        this.sendVideoMessage();
      } else {
        console.log("Video is not playing");
      }
    }
  },
  watch: {
    identifySwitch(value) {
      if (value == false) {
        clearInterval(this.drawFaceId);
        this.drawFaceId = null;
        setTimeout(() => {
          this.clearCanvas();
        }, 250);
      } else {
        console.log("start draw faces");
        this.startDrawFaces();
      }
    }
  },
  computed: {
    playing() {
      return !this.paused;
    }
  }
};
</script>

<style></style>
