<template>
  <div id="webcamView">
    <div class="mb-2">
      <v-btn
        :disabled="!isStopped"
        color="primary"
        elevation="2"
        outlined
        style="background-color:white;"
        class="mr-5"
        @click="onStart"
      >
        <v-icon small class="mr-2">mdi-play</v-icon>
        START
      </v-btn>

      <v-btn
        :disabled="isStopped"
        color="error"
        elevation="2"
        outlined
        style="background-color:white;"
        @click="onStop"
      >
        <v-icon small class="mr-2">mdi-stop</v-icon>
        STOP
      </v-btn>
    </div>
    <div>
      <v-icon class="mr-3">mdi-video</v-icon>
      <span class="font-weight-medium">{{ facialPeoples.join(" - ") }}</span>
    </div>
    <div>
      <v-icon class="mr-3">mdi-surround-sound</v-icon>
      <span class="font-weight-medium">{{
        audioSpeaker !== null ? audioSpeaker.text : ""
      }}</span>
    </div>
    <div class="d-flex justify-space-between mt-2">
      <WebCam
        ref="webcam"
        :device-id="deviceId"
        @started="onStarted"
        @stopped="onStopped"
        @error="onError"
        @video-live="videoLive"
        width="55%"
        height="100%"
        style="border-radius: 10px;"
        @cameras="onCameras"
        @camera-change="onCameraChange"
      />
      <canvas
        ref="canvas"
        width="55%"
        height="100%"
        style="position: absolute; border-radius: 10px;"
      ></canvas>
      <div class="ml-2" style="display: flex; height: fit-content;">
        <DataTable :headers="headers" :items="items" />
        <v-btn :disabled="!isStopped" class="ml-2" icon @click="items = []"
          ><v-icon>mdi-refresh</v-icon></v-btn
        >
      </div>
    </div>
    <div>
      <v-switch v-model="identifySwitch" label="Identify people with squares">
      </v-switch>
    </div>
  </div>
</template>
<script>
// Video imports
import { WebCam } from "vue-web-cam";
import DataTable from "@/components/DataTable";
import * as faceapi from "@vladmandic/face-api";
// Audio imports
import Recorder from "@/services/recorder.js";

export default {
  name: "Webcam",
  components: {
    WebCam,
    DataTable
  },
  data() {
    return {
      // Video variables
      identifySwitch: false,
      camera: null,
      deviceId: null,
      devices: [],
      recognizeId: null,
      drawFaceId: null,
      video_connection: null,
      isStopped: true,
      canvas: null,
      video: null,
      ctx: null,
      faceMatcher: null,
      model: undefined,
      classifier: undefined,
      image: undefined,
      facialPeoples: [],
      audioSpeaker: null,
      width: 0,
      height: 0,
      headers: [
        {
          text: "Detected persons",
          align: "start",
          sortable: false,
          value: "person"
        },
        { text: "Apparition duration (seconds)", value: "apparition" },
        { text: "Talk duration (seconds)", value: "talk" }
      ],
      items: [],
      // Audio variables
      audio_connection: null,
      audio_context: null,
      recorder: null,
      audio_stream: null,
      speaker_detection: null
    };
  },
  created: async function() {
    console.log("on created");
    const MODEL_URL = "/models";
    console.log(faceapi);
    await faceapi.loadSsdMobilenetv1Model(MODEL_URL);

    console.log("Starting connection to WebSocket Server");

    /* ************** */
    //Connection to face recognition websocket server
    /* ************** */
    this.video_connection = new WebSocket("ws://127.0.0.1:5000");
    let self = this;
    this.video_connection.onmessage = function(event) {
      console.log("[VIDEO] Response from server :" + event.data);
      self.facialPeoples = event.data.split("/");
      self.addPeoples(self.facialPeoples, "image");
    };

    this.video_connection.onopen = function(event) {
      console.log(event);
      console.log(
        "[VIDEO] Successfully connected to the Face recognition Websocket Server"
      );
    };
    this.video_connection.onclose = function(event) {
      console.log(event);
      console.log("Connection with Face recognition websocket closed");
    };

    /* ************* */
    // Connection to speaker recognition websocket server
    /* ************* */
    this.audio_connection = new WebSocket("ws://127.0.0.1:5001");

    // Set AudioContext
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    navigator.getUserMedia =
      navigator.getUserMedia || navigator.webkitGetUserMedia;
    window.URL = window.URL || window.webkitURL;

    // Event on message received from the server
    this.audio_connection.onmessage = function(event) {
      console.log("[AUDIO] Response from server :");
      console.log(event.data);
      /*
        {"speaker": "unknown", "score": 0}
      */
      let speaker_recognition_limit = 0.85;
      let data;
      try {
        data = JSON.parse(event.data);
      } catch (err) {
        console.log(err);
      }
      self.audioSpeaker = data;
      self.audioSpeaker.text = self.audioSpeaker.speaker;
      if (self.audioSpeaker.speaker != "unknown") {
        self.audioSpeaker.text +=
          " (Confidence: " + (self.audioSpeaker.score * 100).toFixed(1) + "%)";
      }
      if (data.score > speaker_recognition_limit) {
        self.addPeoples([data.speaker], "audio");
      }
    };

    this.audio_connection.onopen = function(event) {
      console.log(event);
      console.log(
        "[AUDIO] Successfully connected to the Speaker recognition Websocket server"
      );
    };
    this.audio_connection.onclose = function(event) {
      console.log(event);
      console.log(
        "[AUDIO] Connection with Speaker recognition websocket closed"
      );
    };
  },
  beforeDestroy() {
    this.onStop();
  },
  computed: {
    device: function() {
      return this.devices.find(n => n.deviceId === this.deviceId);
    }
  },
  watch: {
    camera: function(id) {
      this.deviceId = id;
    },
    devices: function() {
      // eslint-disable-next-line no-unused-vars
      const [first, ...tail] = this.devices;
      if (first) {
        this.camera = first.deviceId;
        this.deviceId = first.deviceId;
      }
    },
    identifySwitch(value) {
      if (value == false) {
        clearInterval(this.drawFaceId);
        this.drawFaceId = null;
        setTimeout(() => {
          this.clearCanvas();
        }, 250);
      } else {
        this.startDrawFaces();
      }
    }
  },
  methods: {
    //------------------------------
    // Buttons start and stop events
    //------------------------------
    onStart() {
      this.isStopped = false;
      this.startFaceRecognition();
      this.startAudioRecognition();
    },
    startFaceRecognition() {
      this.startRecognition();
      if (this.identifySwitch) this.startDrawFaces();
    },
    startAudioRecognition() {
      if (!this.audio_context) {
        this.audio_context = new AudioContext({ sampleRate: 16000 });
      }
      var self = this;
      navigator.getUserMedia(
        { audio: true },
        function(stream) {
          self.audio_stream = stream;
          var input = self.audio_context.createMediaStreamSource(stream);
          // Initialize the Recorder Library
          self.recorder = new Recorder(input);
          // Start recording from the audio file every 1s or so
          self.recorder && self.recorder.record();
          self.speaker_detection = setInterval(function() {
            // Stop recording
            self.recorder && self.recorder.stop();

            // Export recording to wav
            self.recorder &&
              self.recorder.exportWAV(function(blob) {
                // Convert audio file to base64
                var fileBase64 = "";
                var reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = function() {
                  var base64String = reader.result;
                  fileBase64 = base64String.split(",")[1];
                  // Send base64 audio chunk to server for prediction
                  self.sendAudioMessage(fileBase64);
                };

                // Clear the Recorder and start again
                self.recorder.clear();
                self.recorder && self.recorder.record();
              }, "audio/wav");
          }, 1000);
        },
        function(e) {
          console.error("No live audio input: " + e);
        }
      );
    },
    onStop() {
      this.isStopped = true;
      this.stopVideoRecognition();
      this.stopAudioRecognition();
    },
    stopVideoRecognition() {
      //this.$refs.webcam.stop();
      clearInterval(this.recognizeId);
      clearInterval(this.drawFaceId);
      this.recognizeId = null;
      this.drawFaceId = null;
      setTimeout(() => {
        this.clearCanvas();
      }, 250);
    },
    stopAudioRecognition() {
      clearInterval(this.speaker_detection);
    },
    //------------------------------
    // Audio recognition functions
    //------------------------------
    sendAudioMessage: function(audio) {
      if (this.audio_connection.readyState == WebSocket.OPEN) {
        this.audio_connection.send(audio);
      } else {
        console.log(
          "[Audio] Cannot send message because websocket connection is not opened"
        );
      }
    },
    //------------------------------
    // Face recognition functions
    //------------------------------
    sendVideoMessage: function() {
      if (this.video_connection.readyState == WebSocket.OPEN) {
        let msg = this.getBase64ImageFromVideo(this.video.$refs.video);
        this.video_connection.send(msg);
      } else {
        console.log(
          "[VIDEO] Cannot send message because the websocket connection is not open"
        );
      }
    },
    recognize() {
      if (!this.isStopped) {
        this.sendVideoMessage();
      } else {
        console.log("Video is not playing");
      }
    },
    startRecognition() {
      if (this.recognizeId == null)
        // repeat with the interval of 2 seconds
        this.recognizeId = setInterval(() => {
          this.recognize();
        }, 1000);
    },
    getBase64ImageFromVideo(video) {
      var canvas = document.createElement("canvas");
      var context = canvas.getContext("2d");
      canvas.width = this.width;
      canvas.height = this.height;
      context.drawImage(video, 0, 0, this.width, this.height);
      var data = canvas.toDataURL("image/jpg", 0.6);
      return data.replace(/^data:image\/(png|jpg);base64,/, "");
    },
    async onCapture() {
      if (this.isStopped === false) {
        this.predict();
      }
    },
    //------------------------------
    // Webcam event handler
    //------------------------------
    onStarted(stream) {
      console.log("On Started Event", stream);
      if (this.video) this.$refs.webcam.start();
      if (this.identifySwitch) this.startDrawFaces();
    },
    onStopped(stream) {
      this.isStopped = true;
      console.log("On Stopped Event", stream);
      setTimeout(() => {
        this.clearCanvas();
      }, 250);
    },
    videoLive(stream) {
      console.log("On video-live Event", stream);
      this.video = this.$refs.webcam;
      console.log(this.video);
      this.canvas = this.$refs.canvas;

      let videoWidth = this.video.$refs.video.clientWidth;
      let videoHeight = this.video.$refs.video.clientHeight;

      this.width = videoWidth;
      this.height = videoHeight;
      this.canvas.width = videoWidth;
      this.canvas.height = videoHeight;
      this.ctx = this.canvas.getContext("2d");
      this.ctx.fillStyle = "rgba(255, 0, 0, 0.5)";
    },
    onError(error) {
      console.log("On Error Event", error);
    },
    onCameras(cameras) {
      this.devices = cameras;
      console.log("On Cameras Event", cameras);
    },
    onCameraChange(deviceId) {
      this.deviceId = deviceId;
      this.camera = deviceId;
      console.log("On Camera Change Event", deviceId);
    },
    //------------------------------
    // Display face prediction results
    //------------------------------
    addPeoples(peoplesName, mode = "image") {
      /* 
        mode can be defined as "image" or "audio"
      */
      peoplesName.forEach(peopleName => {
        let item = this.items.find(i => i.person === peopleName);
        if (item) {
          if (mode == "image") item.apparition = item.apparition + 1;
          else item.talk = item.talk + 1;
        } else {
          this.items.push({
            person: peopleName,
            apparition: mode == "image" ? 1 : 0,
            talk: mode == "image" ? 0 : 1
          });
        }
      });
    },
    startDrawFaces() {
      if (this.drawFaceId == null)
        this.drawFaceId = setInterval(() => {
          this.drawFaceBox();
        }, 100);
    },
    async drawFaceBox() {
      if (this.identifySwitch && !this.isStopped) {
        const displaySize = { width: this.width, height: this.height };
        const detections = await faceapi.detectAllFaces(this.video.$refs.video);
        /* Display detected face bounding boxes */
        // resize the detected boxes in case your displayed image has a different size than the original
        const resizedDetections = faceapi.resizeResults(
          detections,
          displaySize
        );
        this.clearCanvas();
        // draw detections into the canvas
        resizedDetections.forEach(face => {
          let box = face._box;
          let ctx = this.canvas.getContext("2d");
          ctx.strokeStyle = "rgba(0, 0, 255, 1)";
          ctx.lineWidth = 2;
          ctx.strokeRect(box.x, box.y, box.width, box.height);
        });
        //faceapi.draw.drawDetections(this.canvas, resizedDetections);
      }
    },
    clearCanvas() {
      this.ctx.clearRect(0, 0, this.width, this.height);
    }
  }
};
</script>

<style></style>
