<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :items-per-page="5"
    class="elevation-1"
  >
  </v-data-table>
</template>

<style lang="css" scoped>
.v-data-table {
  border-radius: 10px;
  width: 100%;
}
</style>

<script>
export default {
  props: ["headers", "items"]
};
</script>
