<template>
  <v-data-table
    :headers="headers"
    :items="persons"
    :items-per-page="5"
    class="elevation-1"
  >
    <template v-slot:[`item.image`]="{ item }">
      <img :src="{ item }" />
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon small color="primary" @click="$emit('edit', item.id)">
        mdi-pencil
      </v-icon>
      <v-icon
        small
        color="error"
        class="ml-5"
        @click="$emit('delete', item.id)"
      >
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
</template>

<style lang="css" scoped>
.v-data-table {
  border-radius: 10px;
  width: 100%;
}
</style>

<script>
export default {
  props: {
    persons: {
      required: true,
      type: Array
    }
  },
  data() {
    return {
      headers: [
        { text: "Persons", align: "start", sortable: false, value: "name" },
        {
          text: "Images",
          align: "start",
          sortable: true,
          value: "images_length"
        },
        {
          text: "Audio clips",
          align: "start",
          sortable: true,
          value: "audios_length"
        },
        { text: "", value: "actions", align: "end", sortable: false }
      ]
    };
  }
};
</script>
