<template>
  <div>
    <v-progress-circular
      v-if="!modelLoaded"
      style="position: absolute;
        margin-top: 13%;
        margin-left: 20%;"
      :size="150"
      color="primary"
      indeterminate
      value="Loading"
      >Loading...</v-progress-circular
    >
    <video
      id="myVideo"
      ref="video"
      playsinline=""
      style="
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        "
    ></video>

    <canvas id="myVideo" ref="output"></canvas>
  </div>
</template>

<style scoped>
#myVideo {
  position: fixed;
  top: 100px;
  width: 510px;
  height: 382px;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
</style>

<script>
import * as blazeface from "@tensorflow-models/blazeface";

export default {
  name: "Blazeface",
  data() {
    return {
      video: null,
      prediction: "",
      ctx: null,
      canvas: null,
      model: null,
      showModal: true,
      videoMarginLeftAdjust: null,
      videoHeight: null,
      modelLoaded: false
    };
  },
  mounted() {
    this.setupPage();
  },
  methods: {
    async renderPrediction() {
      const returnTensors = false;
      const flipHorizontal = true;
      const annotateBoxes = true;
      const predictions = await this.model.estimateFaces(
        this.video,
        returnTensors,
        flipHorizontal,
        annotateBoxes
      );

      this.prediction = "";
      if (predictions.length > 0) {
        this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
        for (let i = 0; i < predictions.length; i++) {
          if (returnTensors) {
            predictions[i].topLeft = predictions[i].topLeft.arraySync();
            predictions[i].bottomRight = predictions[i].bottomRight.arraySync();
            if (annotateBoxes) {
              predictions[i].landmarks = predictions[i].landmarks.arraySync();
            }
          }
          try {
            this.prediction +=
              "Probability " + i + " : " + predictions[i].probability;
          } catch (err) {
            this.prediction = err.message;
          }
          const start = predictions[i].topLeft;
          const end = predictions[i].bottomRight;
          const size = [end[0] - start[0], end[1] - start[1]];
          this.ctx.fillStyle = "rgba(255, 0, 0, 0.5)";
          this.ctx.fillRect(start[0], start[1], size[0], size[1]);

          if (annotateBoxes) {
            const landmarks = predictions[i].landmarks;

            this.ctx.fillStyle = "blue";
            for (let j = 0; j < landmarks.length; j++) {
              const x = landmarks[j][0];
              const y = landmarks[j][1];
              this.ctx.fillRect(x, y, 5, 5);
            }
          }
        }
      }
      requestAnimationFrame(this.renderPrediction);
    },
    async setupPage() {
      await this.setupCamera();
      this.video.play();

      let videoWidth = this.video.videoWidth;
      let videoHeight = this.video.videoHeight;
      this.video.width = videoWidth;
      this.video.height = videoHeight;

      this.canvas = this.$refs.output;
      this.canvas.width = videoWidth;
      this.canvas.height = videoHeight;
      this.ctx = this.canvas.getContext("2d");
      this.ctx.fillStyle = "rgba(255, 0, 0, 0.5)";
      this.videoHeight = window.innerHeight;
      this.videoMarginLeftAdjust = (window.innerWidth - videoWidth) / 2;
      this.model = await blazeface.load();
      this.modelLoaded = true;
      this.renderPrediction();
    },
    async setupCamera() {
      var vm = this;
      vm.video = vm.$refs.video;

      const stream = await navigator.mediaDevices.getUserMedia({
        audio: false,
        video: { facingMode: vm.facingmode }
      });
      vm.video.srcObject = stream;

      return new Promise((resolve) => {
        vm.video.onloadedmetadata = () => {
          resolve(vm.video);
        };
      });
    }
  }
};
</script>
