<template>
  <div id="FaceApi">
    <div class="d-flex justify-space-between">
      <v-progress-circular
        v-if="!modelLoaded"
        style="position: absolute;
        margin-top: 13%;
        margin-left: 20%;"
        :size="150"
        color="primary"
        indeterminate
        value="Loading"
        >Loading...</v-progress-circular
      >
      <WebCam
        ref="webcam"
        :device-id="deviceId"
        @started="onStarted"
        @stopped="onStopped"
        @error="onError"
        @video-live="videoLive"
        width="55%"
        height="100%"
        style="border-radius: 10px;"
        @cameras="onCameras"
        @camera-change="onCameraChange"
      />
      <canvas
        ref="canvas"
        width="55%"
        height="100%"
        style="position: absolute;"
      ></canvas>
    </div>
  </div>
</template>
<script>
import { WebCam } from "vue-web-cam";
import * as faceapi from "@vladmandic/face-api";

export default {
  name: "FaceApi",
  components: {
    WebCam
  },
  async mounted() {
    await this.loadModels();
    await this.trainModel();
  },
  data() {
    return {
      identifySwitch: true,
      imgs: [],
      camera: null,
      deviceId: null,
      devices: [],
      timerId: null,
      isStopped: true,
      canvas: null,
      video: null,
      ctx: null,
      faceMatcher: null,
      modelLoaded: false
    };
  },
  computed: {
    device: function() {
      return this.devices.find((n) => n.deviceId === this.deviceId);
    }
  },
  watch: {
    camera: function(id) {
      this.deviceId = id;
    },
    devices: function() {
      console.log(this.devices);
      // eslint-disable-next-line no-unused-vars
      const [first, ...tail] = this.devices;
      if (first) {
        this.camera = first.deviceId;
        this.deviceId = first.deviceId;
      }
    }
  },
  methods: {
    async loadModels() {
      const MODEL_URL = "/models";
      console.log(faceapi);
      await faceapi.loadSsdMobilenetv1Model(MODEL_URL);
      await faceapi.loadFaceLandmarkModel(MODEL_URL);
      await faceapi.loadFaceRecognitionModel(MODEL_URL);
    },
    async trainModel() {
      const labels = ["gabriel", "the rock", "augustin", "Alexis"];

      const labeledFaceDescriptors = await Promise.all(
        labels.map(async (label) => {
          // fetch image data from urls and convert blob to HTMLImage element
          const imgUrl = `/images/${label}.jpg`;
          const img = await faceapi.fetchImage(imgUrl);
          console.log(img);
          // detect the face with the highest score in the image and compute it's landmarks and face descriptor
          const fullFaceDescription = await faceapi
            .detectSingleFace(img)
            .withFaceLandmarks()
            .withFaceDescriptor();

          if (!fullFaceDescription) {
            throw new Error(`no faces detected for ${label}`);
          }

          const faceDescriptors = [fullFaceDescription.descriptor];
          return new faceapi.LabeledFaceDescriptors(label, faceDescriptors);
        })
      );
      console.log(labeledFaceDescriptors);
      // 0.6 is a good distance threshold value to judge
      // whether the descriptors match or not
      const maxDescriptorDistance = 0.6;
      this.faceMatcher = new faceapi.FaceMatcher(
        labeledFaceDescriptors,
        maxDescriptorDistance
      );
    },
    async onCapture() {
      if (this.isStopped === false) {
        this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
        const input = this.$refs.webcam;
        let fullFaceDescriptions = await faceapi
          .detectAllFaces(input.$el)
          .withFaceLandmarks()
          .withFaceDescriptors();
        console.log(fullFaceDescriptions);
        fullFaceDescriptions = faceapi.resizeResults(fullFaceDescriptions, {
          width: this.canvas.width,
          height: this.canvas.height
        });
        faceapi.draw.drawDetections(this.canvas, fullFaceDescriptions);
        faceapi.draw.drawFaceLandmarks(this.canvas, fullFaceDescriptions);
        const results = fullFaceDescriptions.map((fd) =>
          this.faceMatcher.findBestMatch(fd.descriptor)
        );

        results.forEach((bestMatch, i) => {
          const box = fullFaceDescriptions[i].detection.box;
          const text = bestMatch.toString();
          const drawBox = new faceapi.draw.DrawBox(box, { label: text });
          drawBox.draw(this.canvas);
        });

        //this.imgs.push(this.$refs.webcam.capture());
      }
    },
    onStarted(stream) {
      console.log("On Started Event", stream);
      this.isStopped = false;
      if (this.timerId == null)
        // repeat with the interval of 2 seconds
        this.timerId = setInterval(() => {
          this.onCapture();
        }, 500);
    },
    onStopped(stream) {
      console.log("On Stopped Event", stream);
      this.isStopped = true;
      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
    },
    videoLive(stream) {
      console.log("On video-live Event", stream);
      this.modelLoaded = true;
      this.video = this.$refs.webcam;
      this.canvas = this.$refs.canvas;

      let videoWidth = this.video.$refs.video.clientWidth;
      let videoHeight = this.video.$refs.video.clientHeight;

      this.canvas.width = videoWidth;
      this.canvas.height = videoHeight;
      this.ctx = this.canvas.getContext("2d");
    },
    onStop() {
      this.$refs.webcam.stop();
    },
    onStart() {
      this.$refs.webcam.start();
    },
    onError(error) {
      console.log("On Error Event", error);
    },
    onCameras(cameras) {
      this.devices = cameras;
      console.log("On Cameras Event", cameras);
    },
    onCameraChange(deviceId) {
      this.deviceId = deviceId;
      this.camera = deviceId;
      console.log("On Camera Change Event", deviceId);
    }
  }
};
</script>

<style></style>
