<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" floating app>
      <template>
        <v-list-item two-line class="mt-1 mb-10">
          <v-list-item-content>
            <v-list-item-title
              class="font-weight-bold"
              :style="{ color: $vuetify.theme.themes[theme].primary }"
              >PAS Project</v-list-item-title
            >
            <v-list-item-subtitle style="color:black"
              >Face/Speaker recognition</v-list-item-subtitle
            >
          </v-list-item-content>
        </v-list-item>
      </template>

      <v-list flat>
        <v-list-item-group
          mandatory
          :value="listValue"
          :style="{ color: $vuetify.theme.themes[theme].primary }"
          active-class="nd-border-right"
        >
          <v-list-item
            @click="changeRouteND(item)"
            v-for="item in items"
            :key="item.title"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <div
        id="rounded-main"
        :style="{ background: $vuetify.theme.themes[theme].background }"
      >
        <v-container>
          <router-view></router-view>
        </v-container>
      </div>
    </v-main>
  </v-app>
</template>

<style scoped>
#rounded-main {
  min-height: 95%;
  height: fit-content;
  margin: 1% 1% 1% 0%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 3%;
}

.nd-border-right::after {
  width: 5px;
  background-color: #0088ff;
  border-radius: 20%;
  position: absolute;
  right: 0;
  min-height: 35px;
}
</style>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {
      items: [
        { title: "Webcam recognition", icon: "mdi-webcam" },
        { title: "Video recognition", icon: "mdi-video" },
        { title: "Sound recognition", icon: "mdi-surround-sound" },
        { title: "APIs Test", icon: "mdi-test-tube" },
        { title: "Database", icon: "mdi-database" }
      ],
      drawer: true
    };
  },
  computed: {
    theme() {
      return this.$vuetify.theme.dark ? "dark" : "light";
    },
    listValue() {
      let v = this.items.findIndex((i) => i.title === this.$route.name);
      return v != -1 ? v : 0;
    }
  },
  methods: {
    changeRouteND(item) {
      if (this.$route.name != item.title)
        this.$router.push({ name: item.title });
    }
  }
};
</script>
